<div class="container">
  <header>
    <h2>WebMIDI Drums</h2>
  </header>
  <div *ngIf="!input">
    <h5>Dispositivos Conectados:</h5>
    <ul class="midi-inputs">
      <li *ngFor="let input of inputs" (click)="selectInput(input)">- {{ input?.name }} {{ input?.manufacturer }}</li>
    </ul>
  </div>
  <div *ngIf="input">
    <h4>Dispositivo Conectado:</h4>
    <p>
      {{ input?.name }} {{ input?.manufacturer }} <br>
      ({{ input?.id }})
    </p>
  </div>
  <div>
    <ul class="drum-pads">
      <li class="pad crash-1" [ngClass]="{'active': drumPartPlayed?.name == 'cymbal1' && drumPartPlayed?.active}">Crash1</li>
      <li class="pad tom-1" [ngClass]="{'active': drumPartPlayed?.name == 'tom1' && drumPartPlayed?.active}">Tom 1</li>
      <li class="pad tom-2" [ngClass]="{'active': drumPartPlayed?.name == 'tom2' && drumPartPlayed?.active}">Tom 2</li>
      <li class="pad crash-2" [ngClass]="{'active': drumPartPlayed?.name == 'cymbal2' && drumPartPlayed?.active}">Crash 2</li>
      <li class="pad hihat" [ngClass]="{'active': drumPartPlayed?.name == 'hihat' && drumPartPlayed?.active}">Hi-Hat</li>
      <li class="pad snare" [ngClass]="{'active': drumPartPlayed?.name == 'snare' && drumPartPlayed?.active}">Caixa</li>
      <li class="pad kick" [ngClass]="{'active': drumPartPlayed?.name == 'kick' && drumPartPlayed?.active}">Bumbo</li>
      <li class="pad tom-3" [ngClass]="{'active': drumPartPlayed?.name == 'tom3' && drumPartPlayed?.active}">Tom 3</li>
    </ul>
  </div>
</div>
