/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;700&display=swap');

html {
  background: #6C99BB;
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  font-size: 24px;;
}
